/* CSS code from examples at https://pagedjs.org/documentation */
/* Implemented my name on the left page header and my title on the right page header. I changed the way the page numbers are displayed. */
no i

		body {
			counter-reset: countChapter;
		}

		@page {
			size: A5;
		}

		@page:left {
		  margin-left: 25mm;
		  margin-right: 18mm;
/*@top-left{
	content: counter(page);
}*/
		  @top-left {
			  content: "Alexandra Pasto";
			  font-variant: small-caps;
			  letter-spacing: 0.05em;
		  }
			@bottom-left {
				content: counter(page);
			}
		}

		@page:right {
		  margin-left: 18mm;
		  margin-right: 25mm;

		  @top-right {
		  	content: "Zelda, the Legend";
			  font-variant: small-caps;
			  letter-spacing: 0.05em;
			  
		  }
			@bottom-right {
				content: counter(page);
			}
		}

		@page:first {
			@top-right {
		  	content: '';
		  }
		}

		p {
			text-align:justify;
		}


		h2 {
			break-before: right;
			counter-increment: countChapter;
		}
		h2::before {
			content: "Chapter " counter(countChapter);
			display: block;
			font-size: 60%;
			font-variant: all-small-caps;
			margin-top: 30mm;
		}

		h1 {
			/*break-after: page;*/
			margin-top: 30mm;
			text-align: center;
			font-size: 16mm;
		}

		subtitle {
			text-align: center;
			break-after: page;
			font-size: 10mm;
			display: block;
		}